#---------------------------------
#
# Author            :   Lasercata
# Last modification :   2022.05.28
# Version           :   v1.1
#
#---------------------------------

snippet ( "Autoclose ()" iA
(${VISUAL}$1)$0
endsnippet

snippet [ "Autoclose []" iA
[${VISUAL}$1]$0
endsnippet

snippet { "Autoclose {}" iA
{${VISUAL}$1}$0
endsnippet

snippet " "Autoclose double quote" A
"${VISUAL}$1"$0
endsnippet

snippet ' "Autoclose '" A
'${VISUAL}$1'$0
endsnippet
