#---------------------------------
#
# Author            :   Lasercata
# Last modification :   2025.06.23
# Version           :   v1.0.0
#
#---------------------------------

#---------Snippets
snippet #! "#!/usr/bin/env bash" b
#!/usr/bin/env bash
$0
endsnippet

snippet #- "file header" b
#--------------------------------
#
# Author            : Lasercata
# Last modification : `!v strftime("%Y.%m.%d")`
# Version           : v1.0.0
#
#--------------------------------
endsnippet
